*, *:before, *:after {
    box-sizing: inherit;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.ng-enter.ng-enter-active,
.ng-leave {
    opacity: 1;
    height: 80px;
    overflow: hidden;
}

    .ng-leave.ng-leave-active,
    .ng-enter {
        opacity: 0;
        height: 0;
        overflow: hidden;
    }

input.ng-invalid.ng-touched {
    border: 1px solid #DA3637;
}

input.ng-valid.ng-touched {
    border: 1px solid #509D12;
}

.ng-invalid .btn {
    background: gray;
}

.error {
    color: red;
    padding-bottom: 10px;
}