<div class="col-md-10">
    <div class="success cf">
        <br />
        <br />
        <br />
        <div class="align-content-center text-center">
            <div class="py-lg-5">
                <img src="/images/success.png" class="img-fluid h-25 w-25" alt="Success">
            </div>
            <br />
            <h1>Thank you!</h1>
            <p class="text-center" style="font-family:'Segoe UI';">A support offerings specialist will be in touch with you shortly.</p>
            <br />
            <a href="https://partner.microsoft.com/support/advanced-cloud-support" role="button" class="btn btn-primary btn-lg" type="submit">Return to page</a>
        </div>
        <br />
        <br />
        <br />
        <h1 class="mb-3">Success</h1>
        <p>{{ message }}</p>
        <span>name: {{name}}</span><br />
        <span>email: {{email}}</span><br />
        <span>phone: {{phone}}</span><br />
        <span>mpnid: {{mpnid}}</span><br />
        <span>domain: {{domain}}</span><br />
        <span>subscription: {{subscription}}</span><br />
        <span>samlist: {{samlist}}</span><br />
        <span>samhours: {{samhours}}</span><br />
        <span>cloudconsult: {{cloudconsult}}</span><br />
        <span>singlepack: {{singlepack}}</span><br />
        <span>fivepack: {{fivepack}}</span><br />
        <span>privacy: {{privacy}}</span><br />
    </div>
</div>