<div class="text-right col-12 py-6">{{requiredfield}}</div>
<form name="orderForm" ng-submit="orderForm.$valid && order()" novalidate>
    <fieldset>
        <div class="form-group col-4 py-6">
            <label for="name" class="font-weight-bold">{{fullname}}<span> {{softfullname}}</span></label>
            <!--<span class="label label-danger" ng-show="orderForm.name.$invalid && orderForm.name.$touched">Required!</span>-->
            <input type="text" name="name" ng-model="name" class="form-control" ng-required="true" ng-minlength="2" />
        </div>
        <div class="form-group col-4">
            <label for="email" class="font-weight-bold">{{workemail}}</label>
            <!--<span class="label label-danger" ng-show="orderForm.email.$invalid && orderForm.$error.email && orderForm.email.$touched">Invalid email!</span>-->
            <input type="email" name="email" ng-model="email" class="form-control" ng-required="true" placeholder="e.g. name@example.com" />
        </div>
        <div class="form-group col-4">
            <label for="tel" class="font-weight-bold">{{businessphonenumber}}</label>
            <!--<span class="label label-danger" ng-show="orderForm.tel.$invalid && orderForm.$error.tel && orderForm.tel.$touched">Invalid phone!</span>
            <span class="help-block" ng-show="orderForm.tel.$invalid && orderForm.tel.$touched">Invalid :(</span>
            <span class="help-block" ng-show="orderForm.tel.$valid">Valid :)</span>-->
            <input type="tel" name="tel" id="phone" ng-model="phone" class="form-control" ng-required="true" />
        </div>
        <div class="form-group col-4">
            <label for="mpnid" class="font-weight-bold">{{idlabel}}</label>
            <!--<span class="label label-danger" ng-show="orderForm.mpnid.$invalid &&  orderForm.mpnid.$touched">Invalid ID!</span>-->
            <input type="text" name="mpnid" ng-model="mpnid" class="form-control" style="width: 50%" ng-required="true" ng-minlength="6" />
        </div>
        <div class="form-group col-4">
            <label for="domain" class="font-weight-bold">{{domainname}}</label>
            <!--<span class="label label-danger" ng-show="orderForm.domain.$invalid && orderForm.domain.$touched">Invalid email!</span>-->
            <input type="text" name="domain" ng-model="domain" class="form-control" placeholder={{domainexample}} />
        </div>
        <div>
            <p class="text-justify font-weight-normal ml-3 pt-2 font-weight-bold">{{selectsubscription}}<span> {{selectsubscriptionmuted}}</span></p>
        </div>
        <div class="table-responsive cell_hover">
            <!--<span class="label label-danger" ng-show="orderForm.subscription.$invalid && orderForm.subscription.$touched">Required!</span>-->
            <table class="table table-bordered w-75 font-weight-normal">
                <tbody>
                    <tr>
                        <td data-toggle="tooltip" id="sub1" data-placement="left" title={{annualsubscriptiontooltip}}>
                            <div class="text-center">{{annualsubscription1}}</div>
                            <div class="text-center">{{annualsubscription2}}</div>
                            <div class="text-center pt-2 font-weight-bold">{{annualsubscription3}}</div>
                        </td>
                        <td data-toggle="tooltip" id="sub2" data-placement="right" title={{emergingmarkettooltip}}>
                            <div class="text-center">{{emergingmarketsubscription1}}</div>
                            <div class="text-center">{{emergingmarketsubscription2}}</div>
                            <div class="text-center pt-2 font-weight-bold">{{emergingmarketsubscription3}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-control" style="visibility: hidden; max-height:0; display:none; margin:0; padding:0;">
            <label><input type="radio" name="colorRadio" id='subAnnual' ng-model="subscription" value="Annual" ng-required="!subscription">Annual</label>
            <label><input type="radio" name="colorRadio" id='subEmerging' ng-model="subscription" value="Emerging" ng-required="!subscription">Emerging</label>
        </div>
        <div>
            <p class="text-justify font-weight-normal ml-3 pb-2">{{leadclickhere}}<a href="https://support.microsoft.com/help/4011810/asfp-emerging-market-subscription-requirement" target="_blank">{{clickhere}}</a> {{emergingmarketrequirements}}</p>
        </div>
        <div class="form-group col-4 py-2">
            <label for="sam" class="font-weight-bold">{{samlocation}}</label>
            <!--<span class="label label-danger" ng-show="orderForm.samlist.$invalid && orderForm.samlist.$touched">Required!</span>-->
            <select name="samlist" ng-model="samlist" class="custom-select form-control form-control-md" style="width: 110%" ng-required="true">
                <option value="" disabled selected>{{selectregion}}</option>
                <option value="Asia Pacific">{{asiapacific}}</option>
                <option value="Europe, Middle East, Africa">{{europe}}</option>
                <option value="Japan">{{japan}}</option>
                <option value="Latin America">{{latinamerica}}</option>
                <option value="North America">{{northamerica}}</option>
            </select>
        </div>
        <div>
            <p class="text-justify font-weight-bold ml-3 pt-3">{{optionalpackagetitle}}</p>
        </div>
        <div>
            <p class="text-justify font-weight-normal ml-3 w-75 pb-3">{{optionalpackagedescription}}</p>
        </div>
        <div class="ml-3 w-75">
            <div id="accordionSAMHours">
                <div class="card">
                    <div class="card-header bg-dark" id="headingSAMHours">
                        <button class="btn bg-transparent btn-outline-dark text-white" type="button" data-toggle="collapse" data-target="#collapseSAMHours" aria-expanded="false" aria-controls="collapseSAMHours">
                            <div>{{additionalsam}}&nbsp;<span>{{learnmore}}</span></div>
                        </button>
                    </div>
                    <div class="collapse" id="collapseSAMHours">
                        <div class="card card-body" style="background-color: #e3e3e3;">{{additionalsamdescription}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ml-5 w-75 py-3">
            <div class="custom-control custom-checkbox pb-3">
                <input type="checkbox" class="custom-control-input" id="samhours" ng-model="samhours">
                <label class="custom-control-label" for="samhours">{{samhourstxt}}</label>
            </div>
        </div>
        <div class="ml-3 w-75">
            <div id="accordionCloudConsult">
                <div class="card">
                    <div class="card-header bg-dark" id="headingCloudConsult">
                        <button class="btn bg-transparent btn-outline-dark text-white" type="button" data-toggle="collapse" data-target="#collapseCloudConsult" aria-expanded="false" aria-controls="collapseCloudConsult">
                            <div>{{additionalcloudconsult}}&nbsp;<span>{{learnmore}}</span></div>
                        </button>
                    </div>
                    <div class="collapse" id="collapseCloudConsult">
                        <div class="card card-body" style="background-color: #e3e3e3;">{{additionalcloudconsultdescription}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ml-5 w-75 py-3">
            <div class="custom-control custom-checkbox pb-3">
                <input type="checkbox" class="custom-control-input" id="cloudconsult" ng-model="cloudconsult">
                <label class="custom-control-label" for="cloudconsult">{{cloudconsulttxt}}</label>
            </div>
        </div>
        <div class="ml-3 w-75">
            <div id="accordionSupport">
                <div class="card">
                    <div class="card-header bg-dark" id="headingOne">
                        <button class="btn bg-transparent btn-outline-dark text-white" type="button" data-toggle="collapse" data-target="#collapseSupport" aria-expanded="false" aria-controls="collapseSupport">
                            <div>{{onpremiseselect}}&nbsp;<span>{{learnmore}}</span></div>
                        </button>
                    </div>
                    <div class="collapse" id="collapseSupport">
                        <div class="card card-body" style="background-color: #e3e3e3;">{{onpremiseselectdescription}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive ml-4 w-75 py-3">
            <table class="table w-75 font-weight-normal" style="border: 5px solid white;">
                <tr class="table-light">
                    <td class="mr-5">
                        <div class="custom-control custom-checkbox mr-5">
                            <input type="checkbox" class="custom-control-input" id="singlepack" ng-model="singlepack">
                            <label class="custom-control-label" for="singlepack">{{onepacktxt}}</label>
                        </div>
                    </td>
                    <td class="ml-5">
                        <div class="custom-control custom-checkbox ml-5">
                            <input type="checkbox" class="custom-control-input" id="fivepack" ng-model="fivepack">
                            <label class="custom-control-label" for="fivepack">{{fivepacktxt}}</label>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <p class="text-justify font-weight-bold ml-3">{{agreement}}</p>
        </div>
        <div>
            <p class="text-justify font-weight-normal ml-3 w-75 pb-1">{{privacytext}}</p>
        </div>
        <div>
            <div class="ml-5 w-75 py-3">
                <div class="custom-control custom-checkbox pb-3 font-weight-normal">
                    <!--<span class="label label-danger" ng-show="orderForm.privacy.$invalid && orderForm.privacy.$touched">Required!</span>-->
                    <input type="checkbox" class="custom-control-input" id="privacy" ng-model="privacy" ng-required="true">
                    <label class="custom-control-label" for="privacy">{{privacyaccept}} <a href="https://privacy.microsoft.com/en-us/privacystatement" target="_blank">{{privacystatement}}</a></label>
                </div>
            </div>
        </div>
        <div>
            <p class="text-justify font-weight-normal ml-3 w-75 pb-3">{{successmessage}}</p>
        </div>
        <div class="form-group col-4 pb-5">
            <button type="submit" ng-disabled="orderForm.$invalid" class="btn btn-primary" style="font-size: 30px; width: 75%; padding-bottom:60px; padding-top:10px;">{{submit}}</button>
        </div>
    </fieldset>
</form>
<script>
    var telInput = $("#phone");
    telInput.intlTelInput({
        utilsScript: "/js/helpers/utils.js",
        autoPlaceholder: true,
        formatOnDisplay: true,
        separateDialCode: true,
        preferredCountries: ['us']
    });
</script>