<div class="col-md-11">
    <div class="success cf">
        <br />
        <br />
        <br />
        <div class="align-content-center text-center">
            <div class="py-lg-5">
                <img src="/images/success.png" height="200" width="200" alt="Success">
            </div>
            <br />
            <h1>{{thankyou}}</h1>
            <p class="text-center">{{offeringspecialist}}</p>
            <br />
            <div class="form-group px-2 align-content-center text-center">
                <a href="https://partner.microsoft.com/support/advanced-cloud-support" role="button" class="btn btn-primary" style="font-size: 30px; width: 26%; height:60px;">{{returntopage}}</a>
            </div>
        </div>
        <br />
        <br />
        <br />
        <h1 class="mb-3">Success Test JSON</h1>
        <p>{{ message }}</p>
        <span>name: {{json}}</span><br />
    </div>
</div>