<div class="col-md-10">
    <div class="success cf">
        <h1 class="mb-3">Success</h1>
        <p>{{ message }}</p>
        <span>name: {{name}}</span><br />
        <span>email: {{email}}</span><br />
        <span>phone: {{phone}}</span><br />
        <span>mpnid: {{mpnid}}</span><br />
        <span>domain: {{domain}}</span><br />
        <span>samlist: {{samlist}}</span><br />
        <span>samhours: {{samhours}}</span><br />
        <span>cloudconsult: {{cloudconsult}}</span><br />
        <span>singlepack: {{singlepack}}</span><br />
        <span>fivepack: {{fivepack}}</span><br />
        <span>privacy: {{privacy}}</span><br />
    </div>
</div>